:host {
    pointer-events: none;
    display: flex;
}

.listener {
    fill: none;
    stroke: rgba(0, 0, 0, 0);
    pointer-events: stroke;
}

.border {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
}

.indicator {
    fill: #fafafa;
    stroke: #cccccc;
    stroke-width: 1px;
    cursor: pointer;
    pointer-events: painted;
}
